<div class="beach-card">
  <div class="d-flex flex-column">
    <div>
      <%= image_tag beach.image_url, alt: "beach image", class: "card-image" %>
    </div>
    <div class="card-body beach-card">
      <h3 class="card-title"><%= beach.name %></h3>
      <p class="card-text"><%= beach.location %></p>
      <p class="card-text">From 50€</p>
    </div>
  </div>
</div>
