<footer>
  <div class="container d-flex flex-row justify-content-between">
    <div>
      <ul>
      <i class="fa-regular fa-copyright fa-2xs"></i>
        <li>2023 <span>SandSpot</span> Inc. All rights reserved</li>
        <i class="fa-solid fa-circle"></i>
        <li><%= link_to "Terms", beaches_path %></li>
        <i class="fa-solid fa-circle"></i>
        <li><%= link_to "Sitemap", beaches_path %></li>
        <i class="fa-solid fa-circle"></i>
        <li><%= link_to "Privacy", beaches_path %></li>
      </ul>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/" class="social-link"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/" class="social-link"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</footer>
