<div class="banner d-flex flex-column banner-overlay">
  <h1 class="title">Dunes & Dreams: Crafting <br> Memories by the Seashore</h1>
  <%= link_to "Book Now", beaches_path, class: "button" %>
</div>
