.beach-card {
  // border: none;
  // padding: 20px;
  // width: 200px;
  // align-items: center;
  // margin: 20px;
  // display: flex;
  // justify-content: center;
}

.card-image {
  border-radius: 15px;
  margin-bottom: 10px;
  height: 320px;
  // width: 315px;
  background-size: auto auto;
  background-position: center;
  // margin: auto;
}
