.beach-card {
  border: none;
  // padding: 20px;
  // width: 200px;
  align-items: center;
}

.card-image {
  border-radius: 15px;
  height: 250px;
  // width: 150px;
  background-size: cover;
  background-position: center;
}
