footer {
  width: 100%;
  background-color: white;
  color: $gray;
  text-align: center;
  font-family: $body-font;
  padding: 20px;
}

ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #b5b5b5;

  span {
    color: $yellow;
  }
}

footer ul li {
  display: inline-block;
}

footer a {
  color: #b5b5b5;
  text-decoration: none;
}

footer i {
  font-size: 2px;
  color: $gray;
}
