.button-packs {
  padding: 13px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: $yellow;
  color: $gray;
  text-align: center;
  text-decoration: none;
  width: 150px;
  font-weight: 600;
  width: 100%;

  &:hover {
    background-color: #FFBE46;
  }
}

// .button-packs:hover {
//   background-color: #FFBE46;
// }

.nav-link{
  color: #5e5c5b;
  font-weight: 800;
}

// .{
//       background-color: #FFBE46;
// }
