.button-packs {
  padding: 13px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: $yellow;
  color: $gray;
  text-align: center;
  text-decoration: none;
  width: 150px;
  font-weight: 600;
  width: 100%;

  &:hover {
    background-color: #FFBE46;
  }
}

.nav-link{
  color: #5e5c5b;
  font-weight: 800;

  &:hover {
    color: #FFBE46;
  }
}

#myTab{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $yellow;
}

.nav-tabs .nav-item .nav-link.active {
  border-bottom: 3px solid $yellow;
  background-color: white;

}

.packs-card{
  background-color: white;
}
