.show-map {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  background: url(https://cdn1.polaris.com/globalassets/common/dealer-locator/placeholder-location-map-no-cookie.jpg?v=8b7b3f9b);
  margin-bottom: 50px;
}
