// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.modal-cancel-btn {
  padding: 13px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: none;
  // background-color: $yellow;
  color: $gray;
  text-align: center;
  text-decoration: none;
  color: $yellow;
  font-size: 12px;
  width: 150px;
  // font-weight: 600;
  border: 1px solid $yellow;

  &:hover {
    background-color: #ffc65d;
    color: black;
  }
}

.modal-confirm-btn {
  padding: 13px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: $yellow;
  color: $gray;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  width: 150px;
  // font-weight: 600;

  &:hover {
    background-color: #ffc65d;
  }
}
