<div class = "mt-5 border shadow mb-5 bg-body rounded">
  <ul class="nav nav-tabs packs-card" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Basic</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Standard</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-top-0 border-end-0 border-start-0" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Premium</button>
    </li>
  </ul>
  <div class="tab-content packs-card" id="myTabContent">
    <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3 class = "text-center"><strong>50€</strong> day</h3>
      <h5>Description</h4>
      <ul>
        <li>4m2 of sand space just for you to enjoy!</li>
        <li>Umbrella not included. Bring your's!</li>
      </ul>
      <button class = "button-packs">Book Now</button>
    </div>
    <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h3 class = "text-center"><strong>100€</strong> day</h3>
      <h5>Description</h4>
      <ul>
        <li>8m2 of sand space exclusively for you!</li>
        <li>Umbrella included.</li>
      </ul>
      <button class = "button-packs">Book Now</button>
    </div>
    <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <h3 class = "text-center"><strong>200€</strong> day</h3>
      <h5>Description</h4>
      <ul>
        <li>10m2 of sand space exclusively for you!</li>
        <li>Umbrella included.</li>
        <li>2 beach chairs included.</li>
        <li>2 fruit cocktails.</li>
      </ul>
      <button class = "button-packs">Book Now</button>
    </div>
  </div>
</div>
