<div class="d-flex justify-content-between mt-5 mb-3">
  <div class = "d-inline-block" >
    <h3 class= "beach-name"><%= @beach.name.upcase %></h3>
    <h4><%= @beach.location.capitalize %></h4>
  </div>

  <div>
    <i class="fa-regular fa-heart" style="color:red"></i>
    <%= link_to "Save", beaches_path, style:"color:black" %>
  </div>
</div>
<div class="image-beach rounded-4" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path @beach.image_url %>')">
</div>
