<h1>INDEX BEACHES</h1>
<div class="container">
  <div class="row">
    <% @beaches.each do |beach| %>
    <div class="col">
      <%= render "shared/card", beach: beach %>
    </div>
    <% end %>
  </div>
</div>
