<div class="p-5">
  <div class="row">
    <% @beaches.each do |beach| %>
      <div class="col mb-4">
        <%= link_to beach_path(beach.id) do %>
          <%= render "shared/card", beach: beach %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
