<div class="container">
  <%= render "filter_by_continent" %>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <% @beaches.each do |beach| %>
        <div class="col d-flex justify-content-center">
          <%= link_to beach_path(beach.id) do %>
            <%= render "shared/card", beach: beach %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="p-3 maps">
    <h2>Beaches location</h2>
    <%= render "index_map" %>
  </div>

</div>
