<div class="p-3" style="margin-left: 50px; margin-top: 50px;">
  <div class="row justify-content-lg-start justify-content-md-center justify-content-sm-center">
    <% @beaches.each do |beach| %>
      <div class="col mb-4 d-flex flex-grow-0">
        <%= link_to beach_path(beach.id) do %>
          <%= render "shared/card", beach: beach %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="p-3" style="margin-left: 50px">
  <h2>Beaches location</h2>
  <%= render "index_map" %>
</div>
