<div class="container">
  <%= render "beaches/show_banner" %>
  <div class="container">
    <div class="row">
      <div class="col-7 mt-5"><%= render "beaches/description" %></div>
      <div class="col-5"><%= render "beaches/packs-card" %></div>
    </div>
  </div>
  <%= render "beaches/show-map" %>
</div>
